//
// Jumbotron
// --------------------------------------------------


.jumbotron {
	position: relative;
  padding-top:    @jumbotron-padding;
  padding-bottom: @jumbotron-padding;
  margin-bottom: @jumbotron-padding;
  color: @jumbotron-color;
  background-color: @jumbotron-bg;

	&.large {
		padding-top:    @jumbotron-padding*20;
  		padding-bottom: @jumbotron-padding*20;
	}
	
  h1,
  .h1 {
    color: @jumbotron-heading-color;
  }

  p {
    margin-bottom: (@jumbotron-padding / 2);
    font-size: @jumbotron-font-size;
    font-weight: 200;
  }

  > hr {
    border-top-color: darken(@jumbotron-bg, 10%);
  }

  .container &,
  .container-fluid & {
    border-radius: @border-radius-none; // Only round corners at higher resolutions if contained in a container
    padding-left:  (@grid-gutter-width / 2);
    padding-right: (@grid-gutter-width / 2);
  }

  .container {
    max-width: 100%;
  }

  @media screen and (min-width: @screen-sm-min) {
    padding-top:    (@jumbotron-padding * 1.6);
    padding-bottom: (@jumbotron-padding * 1.6);

    .container &,
    .container-fluid & {
      padding-left:  (@jumbotron-padding * 2);
      padding-right: (@jumbotron-padding * 2);
    }

    h1,
    .h1 {
      font-size: @jumbotron-heading-font-size;
    }
  }
	&.news {
		transition: all .2s ease-in-out;
		opacity: 0.9;
		margin-bottom: 10px;
		padding: 0px;
		.caption {
			position: relative;
			display: inline-block;
			padding: 10px 15px;
			vertical-align: top;
			width: auto;
			h1.title {
				transition: all .2s ease-in-out;
				margin: 0px;
				display: inline-block;
				width: 30%;
				position: absolute;
				top: -10px;
				left: 5px;
				font-family: Kulag-Regular;
				font-size: 140px;
				line-height: 90px;
				text-transform: uppercase;
				color: @third-brand-primary;
				opacity: 1;
			}
			h2.author {
				transition: all .2s ease-in-out;
				margin: 0px;
				display: inline-block;
				width: auto;
				position: absolute;
				bottom: -6px;
				right: 7px;
				font-family: Mohave;
				font-style: italic;
				font-size: 50px;
				text-transform: uppercase;
				color: @third-brand-primary;
				opacity: 1;
			}
			h3.text {
				transition: all .2s ease-in-out;
				position: relative;
				z-index: 50;
				margin: 0;
				opacity: 0.9;
				padding: 35px;
				color: @white-dark;
			}
		}
		.gradient-before, .gradient-after, .pre-gradient-before, .pre-gradient-after {
			transition: all .2s ease-in-out;
			transition-delay: 0s;
			visibility: hidden;
			opacity: 0;
		}
		.gradient-before {
			width: 30px;
			background-image: linear-gradient(45deg, @brand-info, @brand-pink);
			top: 10%;
			left: -30px;
		}
		.gradient-after {
			width: 30px;
			background-image: linear-gradient(45deg, @brand-info, @brand-pink);
			top: 10%;
			right: -30px;
		}
		.pre-gradient-before {
			width: 20px;
			background-image: linear-gradient(45deg, transparent, @jumbotron-bg, transparent);
			top: 25%;
			left: -50px;
		}
		.pre-gradient-after {
			width: 20px;
			background-image: linear-gradient(45deg, transparent, @jumbotron-bg, transparent);
			top: 25%;
			right: -50px;
		}
		&:hover {
			transition: all .2s ease-in-out;
			opacity: 1;
			h1.title {
				transition: all .2s ease-in-out;
				opacity: 0.5;
			}
			h3.text {
				transition: all .2s ease-in-out;
				opacity: 1;
			}
			.gradient-before, .gradient-after, .pre-gradient-before, .pre-gradient-after {
				visibility: visible;
				opacity: 1;
			}
		}
	}
	&.producer {
		transition: all .2s ease-in-out;
		opacity: 0.9;
		margin-bottom: 10px;
		padding: 0px;
		.img-responsive {
			display: inline-block;
			&.avatar {
				max-width: 350px;
			}
		}
		.caption {
			display: inline-block;
			padding: 10px 15px;
			vertical-align: top;
			width: auto;
			h1.producer-name, h2.type, h6.city, h5.country {
				display: inline-block;
				text-transform: uppercase;
				width: auto;
				font-family: Mohave;
				font-style: italic;
				font-weight: bold;
				font-size: 65px;
				margin: 0px 0px 10px;
				vertical-align: top;
			}
			h2.type {
				font-size: 35px;
			}
			h6.city,h5.country {
				font-family: Mohave;
				margin-top: 9px;
				margin-left: 12px;
				font-size: 18px;
				font-weight: 100;
			}
			h5.country {
				margin-left: 4px;
				font-weight: bold;
			}
			h3.producer-info {
				font-family: Mohave;
				font-style: normal;
				font-size: 20px;
				margin: 5px 0px;
				small {
					font-style: italic;
					font-size: 20px;
					font-weight: bold;
				}
				&:last-child {
					margin-bottom: 40px;
				}
			}
			.producer-buttons {
				margin: 0px 0px 20px;
			}
		}
		.gradient-before, .gradient-after, .pre-gradient-before, .pre-gradient-after {
			transition: all .2s ease-in-out;
			transition-delay: 0s;
			visibility: hidden;
			opacity: 0;
		}
		&:hover {
			transition: all .2s ease-in-out;
			opacity: 1;
			.gradient-before, .gradient-after, .pre-gradient-before, .pre-gradient-after {
				visibility: visible;
				opacity: 1;
			}
		}
		/*&::before, &::after {
			content: "";
			display: none;
		}
		&:hover {
			&::before {
				content: "";
				display: block;
				height: 80%;
				width: 15px;
				background-image: linear-gradient(45deg, @brand-danger, @brand-pink);
				position: absolute;
				top: 10%;
				left: -15px;
			}
			&::after {
				content: "";
				display: block;
				height: 80%;
				width: 15px;
				background-image: linear-gradient(45deg, @brand-danger, @brand-pink);
				position: absolute;
				top: 10%;
				right: -15px;
			}
		}*/
	}
	table.table-hover {
		border: 0px;
		background-color: @jumbotron-bg;
		td {
			border: 0px;
			font-family: Mohave;
			//width: 25%;
			font-size: 16px;
			vertical-align: middle;
			&.width-50 {
				width: 50px;
			}
			&:last-child {
				text-align: right;
			}
		}
	}
	&.ad {
		//margin: 15px;
		padding: 10px 15px;
		table {
			border: 0px;
			td {
			background-color: @brand-primary;
			font-family: Mohave;
			font-size: 14px;
			vertical-align: middle;
			border: 0px;
			width: auto;
				&.width-50 {
					width: 50px;
				}
			}
		}
		h1, h2, h3, h4, h5, h6 {
			margin: 0;
		}
		h2.type {
			margin-bottom: 5px;
			font-size: 40px;
			text-transform: uppercase;
			font-family: Kulag-Regular;
		}
		.up {
			transition: all .3s ease-in-out;
			opacity: 0;
			h4.date {
				display: inline-block;
				position: absolute;
				margin: 0px;
				font-size: 12px;
				line-height: 12px;
				font-family: Roboto-Light;
				color: @white-dark;
				left: 15px;
				top: 5px;
			}
			.caption {
				display: inline-block;
				position: absolute;
				right: 15px;
				top: 15px;
				h4 {
					font-size: 12px;
					margin: 0px 0px 2px 0px;
					line-height: 12px;
					color: @white-dark;
					font-family: Roboto-Light;
				}
			}
		}
		.btn-buy {
			&:hover,
			  &:focus,
			  &.focus {
				border-color: @brand-warning;
				background-image: linear-gradient(25deg, @brand-success, @brand-warning);
			  }
		}
		&.ad-details-visible {
			.up {
				transition: all .3s ease-in-out;
				opacity: 1;
			}
			h4.process-name {
				margin: 0px;
				padding: 5px 15px;
				font-family: Mohave;
				font-style: italic;
				font-size: 20px;
				font-weight: bold;
			}
		}
		.gradient-before, .gradient-after, .pre-gradient-before, .pre-gradient-after {
			transition: all .2s ease-in-out;
			transition-delay: 0s;
			visibility: hidden;
			opacity: 0;
		}
		.gradient-before {
			background-image: linear-gradient(45deg, @brand-success, @brand-warning);
		}
		.gradient-after {
			background-image: linear-gradient(45deg, @brand-success, @brand-warning);
		}
		&:hover {
			transition: all .2s ease-in-out;
			opacity: 1;
			.up {
				transition: all .3s ease-in-out;
				opacity: 1;
			}
			.gradient-before, .gradient-after, .pre-gradient-before, .pre-gradient-after {
				visibility: visible;
				opacity: 1;
			}
		}
	}
	
	&.register {
		.control-label {
			padding-left: 28px;
		}
		.form-control {
			margin-bottom: 5px;
		}
		.btn-group {
			margin-bottom: 5px;
		}
	}
}
