//
// Thumbnails
// --------------------------------------------------


// Mixin and adjust the regular image class
.thumbnail {
	position: relative;
  display: block;
  padding: @thumbnail-padding;
  margin-bottom: @line-height-computed;
  line-height: @line-height-base;
  background-color: @thumbnail-bg;
  border: 1px solid transparent;
  border-radius: @thumbnail-border-radius;
  .transition(border .2s ease-in-out);

  > img,
  a > img {
    &:extend(.img-responsive);
    margin-left: auto;
    margin-right: auto;
  }

  // Add a hover state for linked versions only
  a&:hover,
  a&:focus,
  a&.active {
    border-color: @link-color;
  }

  // Image captions
  .caption {
    padding: @thumbnail-caption-padding;
    color: @thumbnail-caption-color;
  }
	
	/*&.track {
		position: relative;
		border: none;
		img {
			width: 100%;
			border-radius: 0px;
		}
		h5, h6 {
			margin-top: 0px;
			margin-bottom: 0px;
		}
		.caption {
			padding-bottom: 0;
		}
		a {
			color: @white-dark;
			&:hover {
				color: @link-color;
			}
		}
		p {
			transition: all .2s ease-in-out;
			opacity: 0;
			font-size: 9px;
			font-family: Roboto Regular;
			color: @white-dark;
		}
		&:hover {
			p {
				opacity: 1;
			}
		}
	}*/
	
	&.track {
		transition: all .2s ease-in-out;
		opacity: 0.9;
		position: relative;
		border: none;
		padding: 0px 0px 3px;
		margin-bottom: 30px;
		img {
			width: 100%;
			border-radius: 0px;
		}
		h5, h6 {
			margin-top: 0px;
			margin-bottom: 0px;
		}
		h3, h4 {
			margin: 0;
			font-family: Roboto-Bold-Italic;
			letter-spacing: -2px;
			&.title {
				line-height: 26px;
				margin-bottom: 3px;
			}
		}
		h4.artist {
			font-size: 14px;
			font-family: Roboto-Light-Italic;
			letter-spacing: -1px;
		}
		.up {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
			vertical-align: middle;
			width: 100%;
			height: auto;
			padding: 10px;
			transition: all .2s ease-in;
			h4.sequencer, h4.duration, h4.key {
				padding-top: 5px;
				opacity: 1;
				width: auto;
				font-size: 16px;
				font-style: normal;
				font-weight: bold;
				margin: 0;
			}
			h4.sequencer {
				padding-top: 0px;
			}
			.caption {
				padding: 0px;
			}
			.btn-like {
				margin-top: 5px;
			}
			.inline-block {
				padding-top: 0%;
				text-align: center;
				&.visible-lg {
					padding-top: 11%;
				}
				&.visible-xs {
					padding-top: 25%;
				}
			}
		}
		/*h4.sequencer, h4.duration, h4.key {
			transition: all .2s ease-in;
			opacity: 0;
			position: absolute;
			padding-left: 10px;
			font-size: 16px;
			font-style: normal;
			font-weight: bold;
		}
		h4.sequencer {
			top: 5px;
			left: 0px;
			padding-top: 5px;
		}
		h4.duration {
			top: 28px;
		}
		h4.key {
			top: 46px;
		}
		.play {
			transition: all .2s ease-in;
			opacity: 1;
			position: absolute;
			top: 50px;
			left: 50%;
			z-index: 1055;
		}*/
		h6.genre, h6.bpm {
			display: inline-block;
			width: auto;
			margin: 0;
			color: @white-dark;
			font-family: Roboto-Light;
			font-style: italic;
		}
		.caption {
			display: inline-block;
			width: auto;
			vertical-align: middle;
			padding-bottom: 0;
			width: 70%;
			padding-right: 0px;
		}
		.caption-price {
			display: inline-block;
			padding: 5px 10px 0px;
			width: 20%;
			text-align: right;
		}
		a {
			color: @white-dark;
			&:hover {
				color: @link-color;
			}
			
		}
		p {
			transition: all .2s ease-in-out;
			opacity: 0;
			font-size: 9px;
			font-family: Roboto Regular;
			color: @white-dark;
		}
		.btn-buy {
			display: inline-block;
		}
		.bg-cover {
			transition: all .2s ease-in;
			opacity: 1;
		}
		.gradient-before, .gradient-after, .pre-gradient-before, .pre-gradient-after {
			transition: all .5s ease-in;
			transition-delay: 0s;
			visibility: hidden;
			opacity: 0;
		}
		.gradient-before, .gradient-after {
			background-image: linear-gradient(45deg, @brand-pink, @brand-info);
		}
		&:hover {
			transition: all .2s ease-in-out;
			opacity: 1;
			.bg-cover {
				transition: all .2s ease-in-out;
				opacity: 0.1;
			}
			.up {
				transition: all .2s ease-in-out;
				opacity: 1;
			}
			p {
				opacity: 1;
			}
			.gradient-before, .gradient-after, .pre-gradient-before, .pre-gradient-after {
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
