//
//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.center-block {
  .center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .text-hide();
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}


.bg-img {
	background-position: center;
	background-repeat: no-repeat;
}

.w-100 {
	width: 100%;
}

.gradient-before {
	content: "";
	display: block;
	height: 80%;
	width: 12px;
	background-image: linear-gradient(45deg, @brand-danger, @brand-pink);
	position: absolute;
	top: 10%;
	left: -12px;
}
.gradient-after {
	content: "";
	display: block;
	height: 80%;
	width: 12px;
	background-image: linear-gradient(45deg, @brand-danger, @brand-pink);
	position: absolute;
	top: 10%;
	right: -12px;
}
.pre-gradient-before {
	content: "";
	display: block;
	height: 50%;
	width: 10px;
	background-image: linear-gradient(45deg, transparent, @jumbotron-bg, transparent);
	position: absolute;
	top: 25%;
	left: -22px;
}
.pre-gradient-after {
	content: "";
	display: block;
	height: 50%;
	width: 10px;
	background-image: linear-gradient(45deg, transparent, @jumbotron-bg, transparent);
	position: absolute;
	top: 25%;
	right: -22px;
}

.inline-block {
	display: inline-block;
	width: 100%;
	height: auto;
}
.w-100 {
	width: 100% !important;
}

.w-a {
	width: auto;
}

.mt-0 {
	margin-top: 0px;
}

.m-0 {
	margin: 0px;
}

.mt-5 {
	margin-top: 5px;
}

.mt-20 {
	margin-top: 20px !important;
}

.mt-25 {
	margin-top: 25px !important;
}

.mr-5 {
	margin-right: 5px !important;
}
.mb-0 {
	margin-bottom: 0 !important;
}

.mb-5 {
	margin-bottom: 5px !important;
}

.b-0 {
	border: 0px !important;
}

.r-32 {
	right: 32px !important;
}

.b-17 {
	bottom: 17px !important;
}

.mb-0 {
	margin-bottom: 0px !important;
}

.pt-0 {
	padding-top: 0px !important;
}
.pl-0 {
	padding-left: 0px !important;
}

.pl-7 {
	padding-left: 7px !important;
}
.pl-100 {
	padding-left: 100px !important;
}
.pr-3 {
	padding-right: 3px !important;
}
.pt-60 {
	padding-top: 60px;
}
.pt-160 {
	padding-top: 160px;
}
.pb-60 {
	padding-bottom: 60px;
}
.pb-160 {
	padding-bottom: 160px;
}
.text-green {
	color: #2ecc71;
}
.text-gray {
	color: @gray-base;
}
.text-normal {
	font-style: normal !important;
}
.logo-firstpart {
	font-family: Roboto-Bold-Italic;
	text-transform: uppercase;
	letter-spacing: -2px;
	margin-right: -3px;
}
.logo-secondpart {
	font-family: Roboto-Thin-Italic;
	text-transform: uppercase;
	letter-spacing: -2px;
}

.primary-darken {
	border-color: @primary-darken;
	background-image: linear-gradient(0deg, @primary-darken, @primary-darken);
}
.form-group-vertical {
	.control-label {
		padding-left: 0px;
		margin-left: 14px;
	}
	.form-control {
		margin-bottom: 5px;
	}
	.btn-group {
		margin-bottom: 5px;
	}
}

.cart-link {
	.logo-firstpart {
		letter-spacing: -2px;
		margin-right: -2px;
	}
	.logo-secondpart {
		letter-spacing: -2px;
	}
}

.edit-button {
	display: inline-block;
	position: absolute;
	width: auto;
	text-transform: uppercase;
	margin: 0px;
	font-family: Roboto-Light-Italic;
	letter-spacing: -1px;
	font-size: 18px;
	&.r-25 {
		right: 25px;
	}
	&.t-17 {
		top: 17px;
	}
	&.r-28 {
		right: 28px;
	}
	&.t-11 {
		top: 11px;
	}
}
.r-5 {
	right: 5px;
}
.b-7 {
	bottom: 7px;
}
.r-25 {
	right: 25px;
}
.t-17 {
	top: 17px;
}
.r-28 {
	right: 28px;
}
.t-11 {
	top: 11px;
}

h1 {
	&.extra-large {
		font-size: 60px;
		line-height: 50px;
		span {
			&.logo-firstpart {
				font-size: 78px;
				letter-spacing: -8px;
				margin-right: -12px;
				
			}
			&.logo-secondpart {
				letter-spacing: -6px;
			}
		}
	}
}
.text-italic {
	font-family: Roboto-Light-Italic !important;
}
.ls-2 {
	letter-spacing: -2px !important;
}

h3 {
	&.ls-2 {
		font-size: 29px;
	}
}

.text-red {
	color: #e74c3c;
}

.bg-primary-color {
	background: @primary-darken;
}
/* CHAT STYLES */

#custom-search-input {
	background: @primary-darken none repeat scroll 0 0;
	margin: 0;
	padding: 10px;
	.form-control {
		border-bottom-right-radius: 20px;
		border-top-right-radius: 20px;
		padding-right: 35px;
	}
	.search-query {
		background: @primary-darken none repeat scroll 0 0 !important;
		border-radius: 4px;
		height: 33px;
		margin-bottom: 0;
		padding-left: 7px;
		padding-right: 7px;
			&:focus + button {
			z-index: 3;   
			}
	}
	button {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		border: 0 none;
		border-radius: 3px;
		color: #666666;
		left: auto;
		margin-bottom: 0;
		margin-top: 7px;
		margin-right: 7px;
		padding: 2px 5px;
		position: absolute;
		right: 0;
		z-index: 9999;
		&:hover {
			color: @white-base;
		}
	}
}
.all_conversation {
	button {
		background: @primary-darken none repeat scroll 0 0;
		border: 1px solid #dddddd;
		height: 38px;
		text-align: left;
		width: 100%;
		}
	i {
		background: @primary-darken none repeat scroll 0 0;
		border-radius: 100px;
		color: #636363;
		font-size: 17px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		width: 30px;
		}
	.caret {
		bottom: 0;
		margin: auto;
		position: absolute;
		right: 15px;
		top: 0;
		}
	.dropdown-menu {
		background: @primary-darken none repeat scroll 0 0;
		border-radius: 0;
		margin-top: 0;
		padding: 0;
		width: 100%;
		}
	ul {
		li {
		border-bottom: 1px solid @primary-darken;
		line-height: normal;
		width: 100%;
			a {
				color: @white-base;
				line-height: 30px;
				padding: 3px 20px;
					&:hover {
					background: @primary-darken none repeat scroll 0 0;
					color:@white-base;
					}
			}
			&:hover .sub_menu_ {
				display: block;
			}
		}
	}
}
.member_list {
	background-color: @brand-primary;
	height: 454px;
	overflow-x: hidden;
	overflow-y: auto;
		.chat-body {
		margin-left: 47px;
		margin-top: 0;
		}
		.contact_sec {
		font-family: Roboto-Light;
		font-size: 12px;
		text-transform: uppercase;
		margin-top: 3px;
		}
		ul {
		border: 1px solid @primary-darken;
		}
		li {
			padding: 6px;
			border-bottom: 1px solid @primary-darken;
			padding: 6px;
			&:last-child {
				border-bottom:none;
				}
			&:hover {
				background: @primary-darken none repeat scroll 0 0;
				color: #fff;
				cursor:pointer;
			}
		}
}
.header_sec {
	font-family: Roboto-Light;
	text-transform: uppercase;
	.logo-firstpart, .logo-secondpart {
		letter-spacing: -1px;
	}
}
.top_nav {
	overflow: visible;
}
.chat-img img {
	height: 34px;
	width: 34px;
}
.time {
		font-size: 12px;
	}
.sub_menu_ {
	background: @primary-darken none repeat scroll 0 0;
	border: 1px solid rgba(0, 0, 0, 0.15);
	display: none;
	left: 100%;
	margin-left: 0;
	max-width: 233px;
	position: absolute;
	top: 0;
	width: 100%;
}
.new_message_head {
	background: @primary-darken none repeat scroll 0 0;
	float: left;
	font-size: 13px;
	font-weight: 600;
	padding: 18px 10px;
	width: 100%;
		button {
			background: @primary-darken none repeat scroll 0 0;
			border: medium none;
		}
}
.message_section {
	border: 1px solid @primary-darken;
}
.chat_area {
	background-color:@third-brand-primary ;
	float: left;
	height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	li {
		padding: 14px 14px 0;
		.chat-img1 img {
			height: 40px;
			width: 40px;
		}
		&:last-child {
			padding-bottom: 10px;
		}
	}
	.chat-body1 {
		margin-left: 50px;
	}
	.admin_chat .chat-body1 {
		margin-left: 0;
		margin-right: 50px;
	}
}
.chat-body1 p {
	background: @primary-darken none repeat scroll 0 0;
	padding: 10px;
	margin-bottom: 0px;
}
.message_write {
	background: @primary-darken none repeat scroll 0 0;
	float: left;
	padding: 15px;
	width: 100%;
		textarea.form-control {
			height: 70px;
			padding: 10px;
		}

}
.chat_bottom {
	float: left;
	margin-top: 13px;
	padding-left: 5px;
	width: 100%;
}
.upload_btn {
	color: @white-base;
}

.sub_menu_ {
	li {
		float: left;
		width:100%;
		a {
			float: left;
			width:100%;
		}
	}
}

.bg-image {
	background-image: url(images/boiler_room.jpg);
	height: 100px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.light-italic {
	font-family: Roboto-Light-Italic;
}

&.link-orange {
	&:hover {
		color: @brand-warning;
	}
}