//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.center-block {
  .center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .text-hide();
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}


.bg-img {
	background-position: center;
	background-repeat: no-repeat;
}

.w-100 {
	width: 100%;
}

.gradient-before {
	content: "";
	display: block;
	height: 80%;
	width: 12px;
	background-image: linear-gradient(45deg, @brand-danger, @brand-pink);
	position: absolute;
	top: 10%;
	left: -12px;
}
.gradient-after {
	content: "";
	display: block;
	height: 80%;
	width: 12px;
	background-image: linear-gradient(45deg, @brand-danger, @brand-pink);
	position: absolute;
	top: 10%;
	right: -12px;
}
.pre-gradient-before {
	content: "";
	display: block;
	height: 50%;
	width: 10px;
	background-image: linear-gradient(45deg, transparent, @jumbotron-bg, transparent);
	position: absolute;
	top: 25%;
	left: -22px;
}
.pre-gradient-after {
	content: "";
	display: block;
	height: 50%;
	width: 10px;
	background-image: linear-gradient(45deg, transparent, @jumbotron-bg, transparent);
	position: absolute;
	top: 25%;
	right: -22px;
}

.inline-block {
	display: inline-block;
	width: 100%;
	height: auto;
}
.w-100 {
	width: 100% !important;
}

.b-0 {
	border: 0px;
}

.mb-0 {
	margin-bottom: 0px;
}

.pr-3 {
	padding-right: 3px;
}

.text-green {
	color: #2ecc71;
}
.text-normal {
	font-style: normal !important;
}